@model iFinco.UI.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}

<!-- Breadcrumb Area Start-->
<div class="breadcrumb-area bg-overlay-dark bg-6">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-left">
                    <h2>Reset Password</h2>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb">
                            <li>Reset Password</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End -->


<div class="contact-form-area fix pb-120 pt-120">
    <div class="container">
        <div class="contact-form-left col-md-4">
            <h4 class="details-title">Reset Password</h4>

            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
                @Html.HiddenFor(model => model.Code)
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                    @Html.ValidationMessageFor(x => x.Email)
                </div>
                <div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(x => x.Password)
                </div>
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "ConfirmPassword" })
                    @Html.ValidationMessageFor(x => x.ConfirmPassword)
                </div>
                <div class="col-10 fix text-right">
                    <button type="submit" class="default-button">Reset</button>
                </div>
            }
        </div>
        <div class="contact-form-right">
            <div class="sidebar-contact-info">
                <h4>Need Any Help?</h4>
                <p>Financo consectetur adipiscing elitsed do eiud tempor incididnt in the nto sed do eiusmod tempor incididunt ut labore et dolore magna aliqua enim </p>
                <a href="contact.html" class="default-button">Contact</a>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
