@model IEnumerable<iFinco.UI.Models.ApplicationUser>
@{
    ViewBag.Title = "Employee Management";
    var StatusTypes = Enum.GetValues(typeof(Status));
}
@using iFinco.UI.Util

@using iFinco.DAL.Enum
@using PagedList
@using PagedList.Mvc
<div class="content">
    <div class="container-fluid">
        <div class="row">
            @*@Html.ActionLink("Index", "Branch", new { @class = "btn btn-info btn-lg" })*@
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <div class="col-md-9">
                            <h4 class="title">Employee Management</h4>
                            <p class="category">Manage Employe, you can add,edit or ban any employee.</p>
                        </div>
                        <div class="col-md-3 text-right">
                            @Html.ActionLink("Add", "Create", "User", new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Branch Access", "Access", "Branch", new { area = "CompanyManager" }, new { @class = "btn btn-info btn-sm" })
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    @using (Html.BeginForm("index", "User", FormMethod.Get))
                    {
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>Title</th>
                                        <th>Email</th>
                                        <th>Role</th>
                                        <th>Status</th>
                                        <th>
                                            Action
                                        </th>
                                    </tr>
                                </thead>

                                <tbody>
                                    @if (Model == null || Model.Count() < 1)
                                    {
                                        <tr>
                                            <td colspan="5" class="text-center">No record found</td>
                                        </tr>
                                    }
                                    @foreach (var item in Model)
                                    {
                                        int i = 0;
                                        <tr>
                                            <td><a href="@Url.Action("EmployeeHistory","User",new {Id=item.Id })">@item.Name</a> </td>
                                            <td>@item.Email</td>
                                            @*<td>@User.Identity.GetUserRole(item.Id)</td>*@
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        @User.Identity.GetUserRole(item.Id)
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                        @foreach (var role in ViewBag.Roles)
                                                        {
                                                            if (!role.Name.Equals(User.Identity.GetUserRole(item.Id)))
                                                            {
                                                                <li><a href="@Url.Action("RoleChange", "User", new { uid = item.Id, role = role.Name, page=Request.QueryString["page"] })">@role.Name</a></li>
                                                            }
                                                        }
                                                    </ul>
                                                </div>
                                            </td>
                                            @*<td>@((Status)item.Status)</td>*@
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        @((Status)item.Status)
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">

                                                        @foreach (var status in StatusTypes)
                                                        {
                                                            if (!status.Equals((Status)item.Status))
                                                            {
                                                                <li><a href="@Url.Action("StatusChange", "User", new { uid = item.Id, statusid = i, page=Request.QueryString["page"] })">@status</a></li>
                                                            }
                                                            i++;
                                                        }
                                                    </ul>
                                                </div>
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit", "User", new { area = "CompanyManager", id = item.Id })" data-toggle="tooltip" title="Edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                @Ajax.ActionLink(" ", "Detail", "User", new { area = "CompanyManager", id = item.Id }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "ShowModal" }, new { data_toggle = "tooltip", title = "View Detail", @class = "fa fa-info" })
                                                <a href="@Url.Action("EmployeeHistory", "User", new { area = "CompanyManager", id = item.Id })" data-toggle="tooltip" title="View History"><i class="fa fa-history" aria-hidden="true"></i></a>
                                            
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="col-md-12 text-right">
                                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }))
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div id="companyModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Employee Info</h4>
            </div>
            <div class="modal-body" id="content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btnCncl" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<input type="hidden" class="active-nav" value="#User" />

@section Scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        function ShowModal(data) {
            $('#content').html(data);
            $('#companyModal').modal();
        }

        function ShowPrint(data) {
            var w = window.open("", "", "width=900,height=700");
            w.document.write(data);
            w.document.close();
            w.focus();
            setTimeout(function () {
                w.print();
                w.close();
            }, 1000)

        }

        $('#btnSearch').click(function () {
            $('#trSearch').slideToggle('slow');
        })

    </script>
}