@model iFinco.UI.Models.GeneralinvoiceSearchModel
@using iFinco.DAL.Enum
@{
    ViewBag.Title = "General Invoice";
}
@{
    int @count = 1;
}
@{

    bool isSearched = Model != null && ((Model.To != null) || (Model.From != null));
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <div class="col-md-9">
                            <h4 class="title">General Invoice</h4>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="card-content table-responsive">
                        @using (Html.BeginForm("Index", "Generalinvoice", FormMethod.Get))
                        {
                            <table class="table table-bordered" id="table">
                                <thead class="text-primary">
                                    <tr>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Amount</th>
                                        <th>Type</th>
                                        <th>
                                            <span class="pull-right">
                                                <a href="#">
                                                    <i class="material-icons" id="btnSearch">keyboard_arrow_down</i>
                                                </a>
                                            </span>
                                        </th>
                                    </tr>
                                    <tr @(isSearched ? "" : "style=display:none") id="trSearch">
                                        <td></td>
                                        <td></td>
                                        <td>@Html.TextBoxFor(x => x.From, "{0:dd/MM/yyyy}", new { @class = "form-control form_datetime", placeholder = "From" })</td>
                                        <td>@Html.TextBoxFor(x => x.To, "{0:dd/MM/yyyy}", new { @class = "form-control form_datetime", placeholder = "To" })</td>
                                        <td>
                                            <button class="btn btn-info btn-sm " type="submit">
                                                <i class="material-icons">search</i>
                                                <div class="ripple-container"></div>
                                            </button>
                                            <a href="@Url.Action("Index","Generalinvoice")" class="btn btn-info btn-sm">
                                                <i class="material-icons">refresh</i>
                                            </a>
                                        </td>

                                    </tr>

                                </thead>
                                <tbody>
                                    @if (Model == null || Model.invoice.Count() < 1)
                                    {
                                        <tr>
                                            <td colspan="5" class="text-center">No record found</td>
                                        </tr>
                                    }

                                    @foreach (var item in Model.invoice)
                                    {
                                        <tr>
                                            <td> @item.Date.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                @if (item.Party != null)
                                                {
                                                    @item.Party.Title
                                                }
                                                else
                                                {
                                                    @: Walking Customer
                                                }
                                            </td>
                                            <td>
                                                @item.Amount
                                            </td>
                                            <td>
                                                @switch ((InvoiceType)item.Type)
                                                {
                                                    case InvoiceType.Recived:
                                                        @Html.Label("Recived Receipt");
                                                        break;

                                                    case InvoiceType.Paid:
                                                        @Html.Label("Paid Receipt");
                                                        break;
                                                    case InvoiceType.Expense:
                                                        @Html.Label("Expense Receipt");
                                                        break;
                                                    default:
                                                        break;
                                                }
                                            <td>
                                                @Ajax.ActionLink(" ", "Print", "Generalinvoice", new { area = "CompanyManager", id = item.Id }, new AjaxOptions { HttpMethod = "GET", OnSuccess = "ShowPrint" }, new { data_toggle = "tooltip", title = "Print", @class = "fa fa-print" })
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                </tbody>
                            </table>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript">
        function ShowModal(data) {
            $('#content').html(data);
            $('#companyModal').modal();
        }
        function ShowPrint(data) {
            var w = window.open("", "", "width=900,height=700");
            w.document.write(data);
            w.document.close();
            w.focus();
            setTimeout(function () {
                w.print();
                w.close();
            }, 1000)

        }

        $('#btnSearch').click(function () {
            $('#trSearch').slideToggle('slow');
        })
    </script>

    @if (ViewBag.Id != null)
    {
        <script type="text/javascript">
            var id = @ViewBag.Id
            $.ajax({
                type: "GET",
                url: '/CompanyManager/GeneralInvoice/Print/' + id,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: ShowPrint
            });
        </script>
    }
}




